# Created by venv; see https://docs.python.org/3/library/venv.html
*
!main.py
!shared.py
!utilities.py
!*.xlsx
!*.md
!*.qss
!*.qrc
!wizard_pages/
!wizard_pages/data_page.py
!wizard_pages/file_loader_page.py
!wizard_pages/plotter_page.py
!wizard_pages/report_parameters_page.py
!wizard_pages/report_preview.py
!*.gitignore
!resources_rc.py